# Dependencies
node_modules/

# Build
/dist
/build

# Logs
*.log

# Environment variables
.env
.env.*

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.idea/
.vscode/
*.swp
*.swo